<h1>ユーザ一覧</h1>

<table>
  <tr>
    <th class="width-100"></th>
    <th class="width-120"></th>
    <th class="width-120"></th>
    <th class="width-120"></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to user.name, user_path(user) %>
      </td>
      <td>
        <strong>
          <%= user.followings.count %>
        </strong>
        following
      </td>
      <td>
        <strong>
          <%= user.followers.count %>
        </strong>
        followers
      </td>
      <td>
        <strong>
          <%= user.tweets.count %>
        </strong>
        tweets
      </td>
    </tr>
  <% end %>
</table>
