// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.width-100{
    width:100px;
}
.width-120{
    width:120px;
}
.width-350{
    width:350px;
}
.width-220{
    width:220px;
}
.padding-left-37{
    padding-left:37px;
}
.text-align-center{
    text-align: center;
}
.comment-row{
    background-color:RGB(250,200,100)!important;
}
.tweet-row{
    height:67px;
}
